<div class="container">
  <h1 class="text-center">New Dose</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <% if @dose.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @dose.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>
